<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Based in San Francisco</h2>
                <hr class="light">
                <p class="text-faded">We storyboard, design and animate for explainer videos, online courses, how-to videos, lower thirds, stingers, bumpers, TV commercials and marketing videos.</p>
            </div>
        </div>
    </div>
</section>
