<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Storyboarding</h3>
                    <p class="text-muted">We can develop scripts and figure out how best to visualize your story.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Motion Graphics</h3>
                    <p class="text-muted">Want a mix of live action footage and animation? We make animated lower thirds, logo lockups and infographics to incorporate into any video.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>UI / UX Design</h3>
                    <p class="text-muted">Our talented After Effects animators and prototypers can design and mockup UI/UX motion concepts for your software</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Video Editing</h3>
                    <p class="text-muted">We edit videos even with turnaround times tighter than your mom's wallet</p>
                </div>
            </div>
        </div>
    </div>
</section>
